<div class="page">
  <h1>Користувачі</h1>

  <section class="content">
    <div class="control-panel">
      <app-button (onClick)="openModal()">Створити нового користувача</app-button>
    </div>
    <div class="faculties">
      <div class="users admins">
        <h2>Адміністратори</h2>

        <div *ngFor="let user of admins$ | async" class="user-item">
          <app-user-item
            [user]="user"
            (onEditUser)="openModal($event)"
            (onDeleteUser)="deleteUser($event)"
          ></app-user-item>
        </div>
      </div>

      <div class="users teachers">
        <h2>Викладачі</h2>

        <div *ngFor="let user of teachers$ | async" class="user-item">
          <app-user-item
            [user]="user"
            (onEditUser)="openModal($event)"
            (onDeleteUser)="deleteUser($event)"
          ></app-user-item>
        </div>
      </div>

      <ng-container *ngIf="usersForView$ | async as usersForView">
        <div class="users students faculties">
        <h2>Студенти</h2>
          <div *ngFor="let faculty of usersForView" class="faculty-item">
           <ng-container *ngIf="faculty.facultyUsers">
             <h3>{{faculty.faculty.shortName}}</h3>

             <div class="departments">
               <div *ngFor="let department of faculty.departments" class="department-item">
                 <h4>{{department.department.shortName}}</h4>

                 <div class="groups">
                   <div *ngFor="let group of department.groups" class="group-item">
                     <h5>{{group.group.shortName}}</h5>

                     <div class="users">
                       <div *ngFor="let user of group.users" class="user-item">
                         <app-user-item
                           [user]="user"
                           (onEditUser)="openModal($event)"
                           (onDeleteUser)="deleteUser($event)"
                         ></app-user-item>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </ng-container>
          </div>
        </div>
      </ng-container>

    </div>
  </section>
</div>

<app-create-edit-user-modal
  (onSubmitCreate)="createUser($event)"
  (onSubmitEdit)="editUser($event)"
></app-create-edit-user-modal>
