// Colors
$blue: #313467;
$blue-lighten: #484c97;
$blue-darker: #272952;
$grey: #eeedf2;
$grey-darker: #b9b5c9;
$white: #ffffff;
$black: #000000;
$orange: #cb5053;
$orange-lighter: #d57375;
$purple: #5958be;
$purple-lighter: #7a79cb;

// Font-weights
$font-weight-hairline: 100;
$font-weight-thin:     200;
$font-weight-light:    300;
$font-weight-normal:   400;
$font-weight-medium:   500;
$font-weight-semibold: 600;
$font-weight-bold:     700;
$font-weight-xbold:    800;
$font-weight-black:    900;

// Application sizes
$header-height: 80px;
$sidebar-width: 300px;
$control-height: 40px;
$icon-size: 32px;
$input-height: 40px;

// Shadows
$no-color-shadow: 3px 5px 5px 0px;

